<nav class="navbar navbar-expand-xl navbar-light bg-light sticky-top">
  <a class="title navbar-brand" href="#">MFHUM<span>.</span></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="(current)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutme" routerLinkActive="(current)"
          >About me</a
        >
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#">Theme two</a>
      </li> -->
    </ul>
  </div>
</nav>
