<div class="aboutme-content">
  <div class="title container text-center mb-5">
    <div class="mainTitle">ABOUT ME<span>.</span></div>
  </div>

  <div class="content container text-center mb-5">
    <div class="image text-center">IMAGE</div>
    <div class="startingText">
      Name: Marius F. Hummel <br />
      Location: BS & SG <br />
      Age: 19yrs <br />
    </div>
    <br />
    <div class="subTitle mt-5">INTRODUCTION<span>.</span></div>
    <div class="text">
      I'm a 19 years old Web Developer based in Basel and Sargans
      <br />
      I will finish my apprenticeship as an Software Engineer EFZ on the 31st
      july of 2021
      <br />
      In Frontend programming I am especially skilled
      <br />
      My favourite language at the moment is Angular, but I'm always open to
      learn new ones.
    </div>
    <div class="subTitle mt-3">MY SKILLS<span>.</span></div>
    <div class="text">
      I work with... <br />
      Angular, ts, html5, bootstrap, css3, markdown, postgres
      <br />
      I worked with... <br />
      PHP, java, js, typeorm, jquery, scss, oracle sql, mysql, hybris, docker
      <br />
      I want to learn... <br />
      tailwind css
    </div>
    <div class="subTitle mt-3">LINGUAL SKILLS<span>.</span></div>
    <div class="text">
      Native / Bilingual:<br />
      Swiss German, English, German
      <br />
      Intermediate: <br />
      French, Italian
    </div>
    <div class="subTitle mt-3">MY HOBBIES<span>.</span></div>
    <div class="text">
      Sports: <br />
      I play soccer and I go to the gym on a nearly daily basis.
      <br />
      Video Editing: <br />
      I edit Videos of any kind, most of the time they are Youtube Videos /
      school projects.
      <br />
      Social Media: <br />
      I like to keep a clean look on social media and I enjoy building up new
      social media channels.
      <br />
      DJing: <br />
      I listen to music all the time and I enjoy to show people my favourite
      music. <br />
      So I do DJing, most of the time House Music.
    </div>
    <div class="subTitle mt-3">Engagements<span>.</span></div>
    <div class="text">
      Event organisation: <br />
      VP of the "ibW Hallengrümpi Sargans" <br />
      In the OC of "Jazz Festival Sargans"
      <br />
      <br />
    </div>
  </div>
</div>
